html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    title page
    link(
      rel="stylesheet"
      href="style.css"
    )

  body
    header This is header
    block main
    footer This is footer
