html
  head
    meta(charset="UTF-8")
    meta(
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    )
    title page
    link(
      rel="stylesheet"
      href="style.css"
    )

  body
    header.panel
      .container
        a(href="/").panel__logo MyLogo
        a(href="/").panel__profile

    block main

    footer.panel.panel_bottom
      .container
        a(href="/").panel__logo MyLogo
        nav
          a(href="/about").panel__link About
          a(href="/help").panel__link Help
