extends base.pug
include ./components/articles/card.pug
include ./components/articles/modalCreate.pug


block main
  main.main.profile
    .container
      .profile__head
        h1.profile__title My Articles:
        button.button.js-modal-article-create-open Create new article

      .search.mb-50
        input(
          type="text"
          name="search"
          aria-label="Search through site content"
          placeholder="Search article..."
        )#search.search__input

      if (articles.length === 0)
        p.message You haven't posted any articles yet

      .row
        each article in articles
          .col
            +card(article, true)

block modals
  +modalCreate()
